# dependências
node_modules/

# build
dist/
build/

# ambiente
.env
.env.*

# editor / sistema
.vscode/
.DS_Store
.github/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# caches comuns
*.log
*.tmp